<!--  https://docs.iamport.kr/implementation/payment   -->
<!--  https://github.com/iamport/iamport-manual/tree/master/%EC%9D%B8%EC%A6%9D%EA%B2%B0%EC%A0%9C#my-to-3rd-android -->
<!--  https://github.com/iamport/iamport-android  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- jQuery -->
<!--    제이쿼리하고 iamport 라이브러리 다운로드 해야함!!-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>

</head>
<body>
    <button onclick="requestPay()">결제하기</button>
    <script>
        var IMP = window.IMP; // 생략 가능
        IMP.init("imp51918627"); // 예: imp00000000
        function requestPay() {
            // IMP.request_pay(param, callback) 결제창 호출
            IMP.request_pay({ // param
                pg: "html5_inicis",
                pay_method: "card",
                // 주문번호 -> 항상 다르게 들어가야한다.
                merchant_uid: Math.random().toString(36),
                // name은 계산 시 클라이언트에 제품 이름 띄워줌.
                name: "아메리카노, 에스프레소",
                amount: 11000,
                buyer_email: "gildong@gmail.com",
                buyer_name: "홍길동",
                buyer_tel: "010-4242-4242",
                buyer_addr: "서울특별시 강남구 신사동",
                buyer_postcode: "01181",
                /*
                customdata에 대한 설명
                userId : 현재 유저의 아이디
                cafeId : 구매하려고 하는 카페의 id값.
                order_list : 구매하려고 하는 메뉴의 id값.
                memo : 메모 사항.
                여기서, 여러개를 구매할 수 있기 때문에, 배열로 받아들여야한다.
                */
                custom_data : {
                    userId : 1,
                    cafeId : 1,
                    order_list : [ 2, 4],
                    memo : " 에스프레소 카페인은 빼주세요 ~ ",
                },
            }, function (rsp) { // callback
                if (rsp.success) { // 결제 성공 시: 결제 승인 또는 가상계좌 발급에 성공한 경우
                    // jQuery로 HTTP 요청
                    console.log(rsp.imp_uid);
                    jQuery.ajax({
                        url: "http://localhost:8001/payment/complete", // 예: https://www.myservice.com/payments/complete
                        method: "POST",
                        // headers: { "Content-Type": "application/json" },
                        data: {
                            imp_uid: rsp.imp_uid,
                            merchant_uid: rsp.merchant_uid
                        }
                    }).done(function (data) {
                        // 가맹점 서버 결제 API 성공시 로직
                    })
                } else {
                    alert("결제에 실패하였습니다. 에러 내용: " +  rsp.error_msg);
                }
            });
        }

    </script>
</body>
</html>